#navbar-wrap {
  min-height: 9vh;
  width: 100%;
  display: flex;
  
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  

  background-color: rgb(25, 24, 24);
  border-bottom: 2px solid rgba(245, 245, 245, 0.268);
}

img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}


#navbar-wrap ul {
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex; /* Use Flexbox for horizontal layout */
  justify-content: space-between; /* Spread items evenly */
  padding: 0 3rem;
  align-items: center;

}

.logo-and-name {
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
}

.logo-and-name p {
  color: white;
  font-size: 1.5rem;
}


.login {
  color: white;
  font-size: 1.5rem;
}
.login:hover {
  cursor: pointer;
}

#navbar-wrap a {
  font-size: 1.5rem; /* Adjusted so that size is scalable */
  color: white; /* Text color for links */
  text-decoration: none; /* Remove underline */
}

#navbar-wrap a:hover {
  text-decoration: underline; /* Underline on hover */
}

