.page-wrap{
  background: linear-gradient(to top, black 55%, rgb(75, 75, 75));
  height: 100dvh;
  background: linear-gradient(to bottom, #000, #555); /* Gradient from black to grey */
  
}
.page-content {
  background-image: url("../public/moodify banner.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  background-size: cover;
}

h1{
  color: white;
}
.spotify-input {
  height: 10%;
  padding: 10px; /* Inner padding */
  border: none; /* Remove default border */
  border-radius: 25px; /* Rounded corners */
  background-color: #282828 !important; /* Dark background color */
  color: #fff; /* White text color */
  font-size: 16px; /* Font size */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}
.spotify-input:hover{
  transition: background-color 0.3s;
}

.spotify-input::placeholder {
  color: #b3b3b3; /* Placeholder text color */
}

.spotify-input:focus {
  outline: none; /* Remove default focus outline */
  background-color: #333; /* Slightly lighter background on focus */
}


.greet-user {
  text-align: center;
}

.greet-user img {
  width: 200px;
  height: auto;
}

.menu-wrap {
  min-width: 600px;
  text-align: center;
  margin-top: 2rem;
  border-radius: 35px;
  padding: 3rem;
  backdrop-filter: blur(25px);
}