.body-wrap{
    background: linear-gradient(to top, black 55%, rgb(75, 75, 75));
    min-height: 100vh;
    min-width: 100vw;
    
}

.login-wrap {
    width: 400px;
    height: 500px;
    margin: 50px auto 0 auto;
    border: 5px groove rgb(83, 83, 83); /* Border for the box */
    border-radius: 5px; /* Rounded corners */
    background: linear-gradient(to bottom, #000, #555); /* Gradient from black to grey */
    text-align: center;
}

h1{
    color: white;
}